.parent{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  align-items: stretch;
}

.childul{
  width: 30%;
}

.editor-datetime {
      position: relative;
}
